
    <footer class="footer shadow-t bg-fff pt-35 overflow-h">
        <div class="w-1200 center pb-35">
            <ul class="row space-a mt-35">
                <li>
                    <dl>
                        <dt class="f-16 c-333 mb-12">友情链接</dt>
                        <dd class="lh-26 c-999">
                            <a class="block" target="_blank" href="http://www.hongkongdaily.net/">香港日报 </a>
                            <a class="block" target="_blank" href="http://www.worldhealthgames.com/">世界大健康运动联盟</a>
                            <a class="block" target="_blank" href="http://www.internationjms.cn/">国际健康健美长寿论坛</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="f-16 c-333 mb-12">联系方式</dt>
                        <dd class="c-999">
                            <p><i class="ico-20 ico-addr pos-r t-3 mr-5"></i>香港湾仔告士打道151号资本中心11楼</p>
                            <p><i class="ico-20 ico-email pos-r t-3 mr-5"></i>mzwen@126.com</p>
                            <p><i class="ico-20 ico-tel pos-r t-3 mr-5"></i>18681858718</p>
                            <p><i class="ico-20 ico-user pos-r t-3 mr-5"></i>麻先生</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="f-16 c-333 mb-12">技术支持</dt>
                        <dd class="c-999">
                            <p><i class="ico-20 ico-qq pos-r t-3 mr-5"></i>867528315 </p>
                            <p><i class="ico-20 ico-wx pos-r t-3 mr-5"></i>13366826071</p>
                            <p><i class="ico-20 ico-user pos-r t-3 mr-5"></i>明空</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="f-16 c-333 mb-12">文章发布，广告合作</dt>
                        <dd>
                            <a class="mt-15" href="http://wpa.qq.com/msgrd?v=3&uin=867528315&site=qq&menu=yes"><img src="<%=base_url%>/img/ico-hz.png" alt="加我合作"></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <p class="text-c f-12 c-999 mb-35">Copyright 2018-2021  世界气功网  世界大健康运动联盟主办 中国—香港</p>
		<p class="text-c f-12 c-999 mb-35"> 冀ICP备18002826号-2</p>
    </footer>